<!-- CONTACT PAGE  -->
<div class="container-fluid contactc anchor-contact" id="contactus">
  <div class="row" id="work">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="moreInfo">
        <div class="contact-page-indent">
          <div class="feedback-message">
            <h1>Write to us!

            <h3>We appreciate your comments.</h3>
          </div>
          <br><br>
          <h5>
            <strong>Read the articles, add comments,
            tell us what you like or what you would like to read and see.
            </strong>
          </h5>
          <h5>
            <strong>Also, please contact us if you would like to contribute
            to this blog</strong>
          </h5>
          <br>
          <h4>You can take a look at my other work in progress : </h4>
          <div class="other-work">
            <p>
            <strong>https://mycfproject.herokuapp.com/</strong>
            </p>
            <br>
          </div>
          <h4 class="thank-you">
            Thank you and have a nice day
          </h4>
        </div>
      </div>
    </div>
    <!-- Form to caputre users feedback and to get their contact information -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h1>Please contact us</h1>
      <%= flash[:notice] %>

      <%= form_tag("/my_blog/thank_you", {class: 'form contact_form'}) do %>
      <div class="field-group-contact-us-form">
        <%= label_tag :name %>
        <%= text_field_tag(:name, nil, class: "name-contact-us-form form-field",
        placeholder: "Enter Your Name", size: 30) %>
      </div>
      <div class="field-group-contact-us-form">
        <%= label_tag :email %>
        <%= text_field_tag :email, nil,
                            class: "name-contact-us-form form-field",
                            placeholder: "Enter Your email", size: 40 %>
      </div>
      <div class="field-group-contact-us-form">
        <%= label_tag :message %>
        <%= text_area_tag :message, nil,
            class: "message-contact-us-form form-field",
            placeholder: "Enter Your Message", style: 'width:95%;', rows: 20 %>
      </div>

      <%= submit_tag "Send", class: "contact-submit btn btn-primary btn-sm" %>
      <% end %>
    </div>

  </div>
</div>
