<!-- Capturing user/customers comments from the contact page          %%%%%% -->
    <!-- Only dispay comments entry form if user is signed in -->
  <% if signed_in? %>
  <h3 class="inputForm">Complete the info to reply</h3>

    <%= form_for([@article, @comment]) do |f| %>


    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
  </div>

  <div class="form-Comments">
    <p>
    <%= f.label :"Your comment", :class => 'formText'  %>
    <%= f.text_area(:article_comment, cols: 25, rows: 10, class: 'form_control') %>
    </p>

    <p>
    <%= f.label :"If any, enter an image or video url in addition to your comment", :class => 'formText' %><br>
    <%= f.text_field :user_imageorvideo, size: 30, :class => 'formField' %>
    </p>
  </div>
  <div class="add_comments">
    <p>
      <%= f.submit 'Add comment', :class => 'btn-primary inline'%>
      <input type="button" class="but-reset btn-primary inline" name="clear" value="Clear Form" class="clearForm" onclick="clearForm(this.form);">
    </p>
  </div>
  <% end %>

<% else %>
  <h3 class="inputForm">Please sign in to reply to this article</h3>
<% end %>
