<!-- *********************************************************************** -->
<div class="container-fluid anchor-article" id="article">
  <div class="row">
    <h4 id="notice"><%= notice %></h4>

    <h1 class="h1-articles">My golf articles</h1>

    <% @number_of_articles = 0 %>
    <% @article_product_id = 0 %>

  <!-- Display the partial page here -->
    <%= render partial: "article", collection: @articles.desc %>
   </div>
   <div class="row">
    <div class="new_pagination">
      <%= will_paginate @articles, :class => 'flickr_pagination' %>
    </div>


  </div>

  <div class="row">
    <div class="index-buttons">

      <!-- Go back -->
      <%= button_to "Home", root_path,
      class: 'btn btn-primary btn-sm inline article-buttons', :method => :get %>

      <% if signed_in? && current_user.admin? %>
        <!-- Create a new article -->
        <%= button_to "New article", new_article_path,
        class: 'btn btn-primary btn-sm inline article-buttons',
          :method => :get %>
        <% end %>

    </div>
  </div>
</div>

