<%= form_for(articlecomment) do |f| %>
  <% if articlecomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(articlecomment.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% articlecomment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article_id %>
    <%= f.text_field :article_id %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.label :posted_by %>
    <%= f.text_field :posted_by %>
  </div>

  <div class="field">
    <%= f.label :posted_date %>
    <%= f.date_select :posted_date %>
  </div>

  <div class="field">
    <%= f.label :email_address %>
    <%= f.text_field :email_address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
